# C extensions
*.so

# Build OBJ Directory
/obj_nucleo207

# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Misc
*.map
*.m
*.png

# Eclipse CDT project files
.cproject
.project
.settings/

# metatdata
.metadata

# vscode
.vscode

# Vagrant directory
.vagrant/

# Include makefiles
!Makefile
*~

# Libraries
/lib
